<div class="flex flex-row">
  <div class="flex flex-col ml-4 mr-4 mt-2 mb-2">
    <div i18n="Current Value|current value of portfolio@@currentValue" class="font-mono">Current Value</div>
    <div class="font-roboto text-2xl">{{statistics.curren_value}}</div>
    <div i18n="Invested value|invested amount of portfolio@@investedValue" class="font-mono">Invested</div>
    <div class="font-roboto text-2xl">{{statistics.invested}}</div>
  </div>
  <ngx-charts-bar-horizontal-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="graphData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
  </ngx-charts-bar-horizontal-stacked>
  <div class="flex flex-col mt-2 mb-2 ml-4 mr-4">
    <div i18n="Profit and Loss|profit or loss incurred@@profitLoss" class="flex font-mono">Profit & Loss</div>
    <div class="flex font-roboto text-2xl">{{statistics.profit_loss}}</div>
  </div>
</div>
