<html data-theme="light">
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          <th i18n="Serial Number|Sr. No@@number">Serial Number</th>
          <th i18n="Stock Name|Name of the stock@@stockName">Name</th>
          <th i18n="LTP|Last Traded Price@@lastTradedPrice">LTP</th>
          <th i18n="Average|Average price@@average">Avg.</th>
          <th i18n="Market-Cap|Market cap for the stock@@marketCap">
            Market-Cap
          </th>
          <th i18n="Sector|Sector of stock@@sector">Sector</th>
          <th i18n="Holding|Holding time of stock in portfolio@@holdingTime">
            Holding
          </th>
          <th
            i18n="
              Stock Health|Stock health based on propritary
              algorithm@@stockHealth"
          >
            Stock Health
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let item of stocks; index as i">
          <th>{{ i }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.last_traded_price }}</td>
          <td>{{ item.avg }}</td>
          <td>{{ item.market_cap }}</td>
          <td>{{ item.sector }}</td>
          <td>{{ item.holding_time }}</td>
          <td>{{ item.health }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="[error]" class="flex-1 hidden">
    <!-- The button to open modal -->
    <label for="my-modal-3" class="btn modal-button">open modal</label>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box relative">
        <label
          (click)="onCloseError()"
          for="my-modal-3"
          class="btn btn-sm btn-circle absolute right-2 top-2"
          >✕</label
        >
        <h3
          i18n="Error Title|title of error@@errorTitle"
          class="text-lg font-bold"
        >
          Oops
        </h3>
        <p i18n="Error Body|error message@@errorMessage" class="py-4">
          Something went wrong, please try again
        </p>
      </div>
    </div>
  </div>
</html>
